<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ movie?.title || movie?.original_name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="">
    <img [src]="imageUrl" class="movie-img" *ngIf="imageUrl" alt="">
  </div>
  <img [src]="background" class="background" *ngIf="background" alt="">

<div class="header">
  <p class="title">{{ movie?.title || movie?.original_name }}
    <span class="release">({{ (movie?.release_date || movie?.first_air_date) | date: 'y'}})</span>
  </p>
</div>

<div class="info" *ngIf="movie">
  <div class="">{{ (movie?.release_date || movie?.first_air_date) | date: 'longDate'}}</div>
  <!-- <div class="">{{ movie.networks[0].name }}</div> -->
  <!-- isLast is for comma -->
  <span *ngFor="let genre of movie.genres; let isLast = last" class="">
    {{ genre.name }} <span *ngIf="!isLast">, </span>
  </span>
  <div class="">{{ movie.vote_average }} / 10</div>
  <div class=""><i>{{ movie.tagline }}</i></div>
  <div class="">{{ movie.overview }}</div>
  <div *ngIf="!movie.seasons" class="">Duration: {{ movie.runtime }}</div>
</div>

</ion-content>
