<ion-content>
  <div class="login">
  <h2 class="login__header">Welcome to <br> <b class="login__header--movie">MOVIES APP</b></h2> 
  <p class="login__header--madeBy"> made by Fedor</p>
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
    </div>
 
    <ion-button class="btn" color="warning" type="submit" expand="block" [disabled]="!credentials.valid">Log in </ion-button>
    <ion-button type="button" expand="block" color="primary" fill="clear">Not yet a member? Sign up!</ion-button>
    <ion-button class="btn login__guest"  expand="block" (click)="guest()">Continue as a GUEST</ion-button>
 
    <!-- <ion-button type="button" expand="block" color="tertiary">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Sign in with Google
    </ion-button>
    <ion-button type="button" expand="block" color="tertiary">
      <ion-icon name="logo-apple" slot="start"></ion-icon>
      Sign in with Apple
    </ion-button> -->
  </form>
</div>
</ion-content>