<ion-app>
  <ion-menu type="push" side="start" menuId="first" contentId="content">  
    <ion-content class="content" color="light"> 
      <!-- <div class="wallpaper">
        <img src="https://images.cdn2.stockunlimited.net/preview1300/cinema-background-with-movie-objects_1823384.jpg" alt="">
      </div> -->
      <ion-list *ngFor="let pages of navigate">  
        <ion-menu-toggle class="test" auto-hide="true">  
          <div class="item"  [routerLink]="pages.url">  
            <ion-icon class="icon" [name]="pages.icon" slot="start"></ion-icon>  
              <p>{{pages.title}}  </p> 
          </div>  
        </ion-menu-toggle>  
      </ion-list>  
    </ion-content>   
  </ion-menu>  
  <ion-router-outlet Id="content"></ion-router-outlet> 
</ion-app>
