<ion-app>
  <ion-menu side="start" menuId="first" contentId="content">  
    <ion-content color="light"> 
      <div class="wallpaper">
        <img src="https://images.cdn2.stockunlimited.net/preview1300/cinema-background-with-movie-objects_1823384.jpg" alt="">
      </div>
      <ion-list lines="full" *ngFor="let pages of navigate">  
        <ion-menu-toggle auto-hide="true">  
          <ion-item class="item"  [routerLink]="pages.url" routerDirection="forward">  
            <ion-icon class="icon" [name]="pages.icon" slot="start"></ion-icon>  
              {{pages.title}}   
          </ion-item>  
        </ion-menu-toggle>  
      </ion-list>  
    </ion-content>   
  </ion-menu>  
  <ion-router-outlet Id="content"></ion-router-outlet> 
</ion-app>
