.icon{
  background-color: #D21622;
  border-radius: 15px;
  padding: .7rem;
  color: #fff;
  height: 2rem;
  width: 2rem;
}

.item{
  // border-bottom: 1px solid #000;
  font-family: 'Nunito', sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}