img {
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.name{
  font-size: 1.2rem;
}

.card {
  border: 2px solid rgb(230, 230, 230);
  border-radius: 20px;
  margin-right: .5rem; 
  width: 160px;
  height: 340px;
  outline: none;
  color: var(--main);
  font-family: 'Nunito', sans-serif;
}