ion-content{
  --background: url('/assets/images/main-background.jpg') 40% 20%; 
}
.log{
  font-size: 1.7rem;
  &-logout{
    transform: rotate(180deg);
  }
}

.search{
  padding: 1rem;
  padding-bottom: 2rem;
  background: url('/assets/images/search.jpg') top;
  background-position: cover;
  color:white;
  &__text{
    font-weight: 700;
    text-align: center;
  }
  &__field{
    padding: 0;
  }
}
.header{
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: 700;
}
.search-result{
  display: flex;
  align-items: center;
  &__rating{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 1.3rem;
    font-weight: 700;
    padding: 0.5rem;
    font-size: 0.8rem;
    position: absolute;
    bottom:0;
    right:0;
    color: #fff;
  }
  &__title{
    font-size: 1.3rem;
  }
  &__year{
    font-style: italic;
    color:rgb(117, 117, 117);
    margin: 0.3rem 0;
  }
}
