<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">  
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>Top TV Shows</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="popular-top">
    <img src="https://image.flaticon.com/icons/png/512/1486/1486474.png" alt="">
    <span class="popular"> The 20 most popular TV shows <br><span class="small">(Based on TMDB rating)</span></span>
  </div>
  <div class="line"></div>
  <ion-row class="row" [routerLink]="['/tv', r.id]" tappable  *ngFor="let r of topShows; let i = index">
    <ion-col size="4" class="image">
      <ion-img [src]='imageUrl + r.poster_path'></ion-img>
      <div class="rating"
      [ngStyle]="{'background-color': r.vote_average < 5 ? 'var(--ion-color-danger)' : (r.vote_average >= 7 ? 'var(--ion-color-success)' : 'var(--ion-color-warning') }">
        {{ r.vote_average | number:'1.1-1' }}
      </div>
    </ion-col>
    <ion-col size="8" class="preview">
      <p class="name">{{ i + 1 }}. {{ r.original_name }} <span class=small-date>({{ (r.release_date || r.first_air_date) | date: 'yyyy' }})</span></p>
      <span>{{ (r.overview.length > 90) ? (r.overview | slice:0:90)+'...': (r.overview) }}</span>
    </ion-col>
    <ion-col class="ion-no-padding" size="12">
      <div class="line"></div>
    </ion-col>
  </ion-row>
</ion-content>
